<header id="header-sec">
  <div class="inner-padding">
    <div class="pull-left">
      <h2>{{yield}}</h2>
    </div>
    <div class="pull-right">
    </div>
  </div><!-- End .inner-padding -->
</header><!-- End #header-sec -->
