<div class="sidebar-line"><!-- A seperator line --></div>

<ul class="ext-tabs-sidebar">
  <li class="active">
    <a href="#sidebar-tab-1"><i class="fa fa-bars"></i> Navigation</a>
  </li>
  <li>
    <a></a>
  </li>
</ul><!-- End .ext-tabs-sidebar -->
<div class="tab-content">
  <div id="sidebar-tab-1" class="tab-pane active clearfix">

    <!-- ********** -->
    <!-- NEW MODULE -->
    <!-- ********** -->

    <!-- <div class="sidebar-module"> -->
    <div class="sidebar-module">
      <nav class="sidebar-nav-v1 full-height">
        <ul>
          {{yield}}
          <!-- <li>
            <a href="calendar.html"><i class="fa fa-calendar-o"></i> Calendar</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope-o"></i> Form Elements <i class="fa fa-caret-left pull-right"></i></a>

            <ul>
              <li>
                <a href="forms.html">Forms</a>
              </li>
              <li>
                <a href="forgot.html">Forgot Form</a>
              </li>
              <li>
                <a href="login.html">Login Form</a>
              </li>
              <li>
                <a href="login2.html">Login 2 Form</a>
              </li>
              <li>
                <a href="reset.html">Reset Form</a>
              </li>
              <li>
                <a href="signup.html">Signup Form</a>
              </li>
              <li>
                <a href="wizard.html">Wizard</a>
              </li>
              <li>
                <a href="wysiwyg.html">WYSIWYG</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-file-o"></i> Pages <i class="fa fa-caret-left pull-right"></i></a>

            <ul>
              <li>
                <a href="#">Billing</a>
              </li>
              <li>
                <a href="comments.html">Comments</a>
              </li>
              <li>
                <a href="clients.html">Clients</a>
              </li>
              <li>
                <a href="faqs.html">FAQs</a>
              </li>
              <li>
                <a href="files.html">Files</a>
              </li>
              <li>
                <a href="files.html">Files</a>
              </li>
              <li>
                <a href="planning.html">Planning</a>
              </li>
              <li>
                <a href="#">Social</a>
              </li>
              <li>
                <a href="ticketsupport.html">Ticket Support</a>
              </li>
              <li>
                <a href="timeline.html">Timeline</a>
              </li>
              <li>
                <a href="wiki.html">Wiki</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-star-o"></i> UI Elements<i class="fa fa-caret-left pull-right"></i></a>

            <ul>
              <li>
                <a href="buttonsandicons.html">Buttons &amp; Icons</a>
              </li>
              <li>
                <a href="notifications.html">Notifications</a>
              </li>
              <li>
                <a href="dropdownmenu.html">Dropdown &amp; Menu</a>
              </li>
              <li>
                <a href="misc.html">Misc</a>
              </li>
              <li>
                <a href="tabs.html">Tabs</a>
              </li>
              <li>
                <a href="toolbars.html">Toolbars</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="media.html"><i class="fa fa-picture-o"></i> Media</a>
          </li>
          <li>
            <a href="modules.html"><i class="fa fa-wrench"></i> Modules</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bars"></i> Menu Levels<i class="fa fa-caret-left pull-right"></i></a>

            <ul>
              <li>
                <a href="#">Sub level 1</a>
              </li>
              <li>
                <a href="#">Sub level 1</a>
              </li>
              <li>
                <a href="#">Sub level 1</a>
              </li>
              <li>
                <a href="#">Sub level 1<i class="fa fa-caret-left pull-right"></i></a>

                <ul>
                  <li>
                    <a href="#">Sub level 2</a>
                  </li>
                  <li>
                    <a href="#">Sub level 2</a>
                  </li>
                  <li>
                    <a href="#">Sub level 2</a>
                  </li>
                  <li>
                    <a href="#">Sub level 2</a>
                  </li>
                </ul>

              </li>
              <li>
                <a href="#">Sub level 1</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="tables.html"><i class="fa fa-table"></i> Tables</a>
          </li>
          <li>
            <a href="pagelayout.html"><i class="fa fa-th"></i> Page Layout</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-warning"></i> Error Pages <i class="fa fa-caret-left pull-right"></i></a>

            <ul>
              <li>
                <a href="400.html">400</a>
              </li>
              <li>
                <a href="401.html">401</a>
              </li>
              <li>
                <a href="403.html">403</a>
              </li>
              <li>
                <a href="404.html">404</a>
              </li>
              <li>
                <a href="500.html">500</a>
              </li>
              <li>
                <a href="503.html">503</a>
              </li>
            </ul>

          </li>
          <li>
            <a href="maps.html"><i class="fa fa-map-marker"></i> Maps</a>
          </li>
          <li>
            <a href="widgets.html"><i class="fa fa-columns"></i> Widgets</a>
          </li>
          <li>
            <a href="sitemap.html"><i class="fa fa-sitemap"></i> Sitemap</a>
          </li> -->
        </ul>
      </nav><!-- End .sidebar-nav-v1 -->
    </div>
    <!-- </div> --><!-- End .sidebar-module -->
  </div>
</div><!-- End .tab-content -->
