<div class="statistic-block">
  <header>
    <div class="pull-left">
      Clicks
    </div>
    <div class="pull-right">
      <span class="label label-danger">- 176%<i class="fa fa-caret-down pull-right"></i></span>
    </div>
  </header>
  <div class="statistic-block-inner">
    <div class="pull-left">
      <div class="statistic-block-bigval">9599</div>
      <div class="statistic-block-smalltext pull-right">Social</div>
    </div>
    <div class="pull-right">
      <div class="statistic-block-bigval">6712</div>
      <div class="statistic-block-smalltext pull-right">Google</div>
    </div>
    <span class="line"></span>
    <div class="bar-meter">
      <div>
        <span style="height:30%;"></span>
      </div>
      <div>
        <span style="height:17%;"></span>
      </div>
      <div>
        <span style="height:56%;"></span>
      </div>
      <div>
        <span style="height:44%;"></span>
      </div>
      <div>
        <span style="height:100%;"></span>
      </div>
      <div>
        <span style="height:39%;"></span>
      </div>
      <div>
        <span style="height:25%;"></span>
      </div>
      <div>
        <span style="height:55%;"></span>
      </div>
      <div>
        <span style="height:74%;"></span>
      </div>
      <div>
        <span style="height:12%;"></span>
      </div>
      <div>
        <span style="height:74%;"></span>
      </div>
    </div>
  </div>
</div>
