<div class="inner-padding">
  <div class="subheading">
    <h4>Edit User</h4>
  </div>
  <div class="hr-totop"><span>Details</span></div>
  <div class="spacer-30"></div>
  {{#input-line title='Name'}}
    {{input type="text" value=model.name class="form-control" disabled=true suffix="Name"}}
  {{/input-line}}
  {{#input-line title='Title'}}
    {{input type="text" value=model.title class="form-control"}}
  {{/input-line}}
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-9">
      <div class="input-group">
        <button class="btn btn-default" {{action 'update' model}}>Save Changes</button>
      </div>
    </div>
  </div>
  {{outlet}}
</div>
