<div id="content" class="clearfix">
  {{#basic-header}}Users{{/basic-header}}
  <div class="window">
    {{#admin-header}}
      <a href="#" class="btn">
        <i class="fa fa-lock"></i> Admin
      </a>
    {{/admin-header}}

    {{outlet}}
  </div>
</div>
